@media (max-width: 1200px) 
    .menu
        .menu_item
            padding: 0 1.5vw 0 1.5vw
        .menu_link
            font-size: 13px 
    .promo
        .promo_header
            font-size: 50px   