* {
    font-family: 'Roboto', sans-serif;
}
a:link {
    text-decoration: none;
}
header {
    position: relative;
}
nav {
    width: 100%;
    height: 53px;
    background-color: #3f3f3f;
}
.menu {
    display: flex;
    justify-content: space-between;
    padding: 15px 70px;
    margin: 0px;
    list-style-type: none;
}
.menu .menu_item {
    border-right: 2px dotted black;
    padding: 0 2.6vw 0 2.6vw;
}
.menu .menu_link {
    color: #ffffff;
    font-size: 15px;
    font-weight: 300;
}
.subheader
{
    position: absolute;
    width: 100%;
    height: 87px;
    background: rgba(0, 0, 0, .6) /* если поставить opacity,
    то все элементы в этом блоке (номер телефона) будут 
    с прозрачностью*/
}
.subheader .subheader_logo {
    display: block;
    max-width: 100%;
    margin-top: 19px;
}
.subheader .subheader_official {
    font-weight: 200;
    font-size: 13px;
    color: white;
    opacity: 0.5;
    margin-top: 6px;
}
.subheader .subheader_call {
    margin-top: 22px;
    font-weight: 300;
    font-size: 12px;
    color: white;
    text-align: right;
}
.subheader .subheader_number {
    display: block;
    font-weight: normal;
    font-size: 22px;
    color: white;
    text-align: right;
}
.subheader .subheader_btn {
    margin-top: 22px;
    border: none;
    width: 172px;
    height: 46px;
    background: linear-gradient(0deg, #1EACC7 0%, #4CE2FF 100%);
    box-shadow: inset 0px -3px 0px rgba(0, 0, 0, 0.12);
    border-radius: 4px;
    font-weight: normal;
    font-size: 14px;
    text-transform: uppercase;
    color: #FFFFFF;
}
.promo {
    min-height: 799px;
    background: url('../img/uber_bg.jpg') center center/cover no-repeat;
    padding: 151px 135px;
}
.promo .promo_header {
    font-weight: 700;
    font-size: 60px;
    text-align: center;
    text-transform: uppercase;
    color: #FFFFFF;
    line-height: 60px;
    margin: 0;
}
.promo .promo_subheader {
    font-weight: 700;
    font-size: 36px;
    text-align: center;
    text-transform: uppercase;
    color: #FFFFFF;
    line-height: 36px;
    margin: 22px 0 0 0;
}
.promo .promo_par1, .promo_par2 {
    margin-top: 18px;
    font-size: 18px;
    line-height: 24px;
    text-align: center;
    color: #FFFFFF; 
}
.promo .promo_btn {
    display: block;
    margin: 116px auto 0 auto;
    border: none;
    width: 259px;
    height: 63px;
    background: linear-gradient(0deg, #1EACC7 0%, #4CE2FF 100%);
    box-shadow: inset 0px -4px 0px rgba(0, 0, 0, 0.12);
    border-radius: 4px;
    font-weight: normal;
    font-size: 18px;
    text-transform: uppercase;
    color: #FFFFFF;
}
.advantages .adv_intro {
    margin: 20px auto 0px auto;
    font-weight: normal;
    font-size: 11px;
    line-height: 27px;
    text-align: center;
    text-transform: uppercase;
    color: #FFFFFF;
    width: 115px;
    height: 27px;
    background: #000000;
}
.advantages .adv_header {
    margin-top: 32px;
    font-weight: 700;
    font-size: 38px;
    text-align: center;
    text-transform: uppercase;
    color: #222222;
}
